body {
  @include outer-container;
  margin-top: 2em;
  max-width: 30em;
}

h1 {
  text-align: center;
}

.post {
  border: 1px solid;
  margin: 1em;
  padding: 1em;
}

.post-content {
  padding-bottom: 1em;
}

textarea {
  height: 20em;
}
